@charset "UTF-8";

:root {
    --cor0: #040758;
    --cor1: #042259;
    --cor2: #043d59;
    --cor3: #1b2bbe;
    --cor4: #66676B;
    --cor5: #9A9A9C;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}

header nav {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 5px 5px -5px black;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

a {
    text-decoration: none;
}

header nav a {
    background-color: var(--cor0);
    color: white;
    padding: 15px;
    width: 130px;
    border-radius: 8px;
    border: 1px solid var(--cor3);
    margin: 15px;
    margin-left: auto;
    text-align: center;
}

nav a:hover {
    background-color: white;
    color: var(--cor0);
    border: 1px solid var(--cor3);
}

header {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    height: 200px;
    
}

#divanual {
    margin: auto;
    padding-bottom: 20px;
    width: 96vw;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2), rgb(27, 29, 39));
}

header h1, p {
    color: white;
    text-align: center;
    padding: 10px;
}

.assinar {
    display: flex;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    color: var(--cor0);
    border-radius: 8px;
    width: 300px;
    justify-content: center;
}

.assinar::after {
    content: '';
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.assinar:hover {
    transform: scale(0.9) rotate(0deg);
    transition: 0.5s;
    cursor: pointer;
}

main {
    background-color: white;
    width: 100%;
    margin: auto;
    position: relative;
}

h2 {
    color: white;
}

section {
    padding: 20px;
}

.começar {
    background-color: var(--cor0);
    color: white;
    width: 300px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
}

.começar:hover {
    background-color: white;
    color: var(--cor0);
    border: 1px solid var(--cor3);
    cursor: pointer;
}

.parteiphone {
    text-align: center;
}

#textoiphone {
    display: block;
}

#imagemiphone {
    display: block;
}

@media (min-width: 600px) {
    #textoiphone,
    #imagemiphone {
        display: inline-block;
        margin: auto;
    }
    #textoiphone {
        position: relative;
        top: -100px;
        margin-top: 100px;
    }
}

#dashboard {
    text-align: center;
}

#h2dashboard {
    padding-bottom: 10px;
    color: black;
}

#asidedashboard {
    margin-top: 20px;
    border-radius: 10px 10px 0px 0px;
    padding: 50px;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5), white 95%);
    box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.562);
}

#asidedashboard ul {
    list-style-position: inside;
    columns: 1;
    color: black;
    font-weight: 600;
}

#imagensdashboard {
    text-align: center;
}

#imgdash1 {
    display: block;
}

#imgdash2 {
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.699);
}

@media (min-width: 1216px) {
    #imgdash1,
    #imgdash2 {
        display: inline-block;
        margin: auto;
    }
    #imgdash2 {
        position: relative;
        top: -190px;
    } 
}

#asidediferencial {
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2), rgb(27, 29, 39));
}

#asidediferencial ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    color: white;
}

#asidediferencial h2 {
    padding: 10px;
    padding-bottom: 20px;
}

#imagemqrcode {
    text-align: center;
}

#imagemqrcode img {
    max-width: 50%;
    padding: 50px;
}

.footer-container {
    background-color: #303030;
    padding: 10px;
    color: white;
    display: flex;
    text-align: center;
}

.footer-info {
    margin: 5px;
    margin-left: 20px;
}

.info-group {
    padding: 10px;
}

footer a {
    color: rgb(116, 116, 116);
}

footer a:hover {
    color: white;
}

footer img {
    max-width: 80%;
}

footer p {
    background-color: #303030;
    border-top: 1px solid black;
}